.book-card {
 margin: 10%;

  button {
    margin: 1%
  }
}

.center-content {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.search-container {
  #search-bar {
    margin: 1%;
  }
  button {
    margin: 1%;
  }
}

.filters {
  text-align: center;
  .row {
    width: 100%;
    margin: 2% 0 2% 15% !important;
  }
  padding: 5px;
  height: 100%;
  border-radius: 5px;
  background-color: #ffffff;
}