<div class="container-fluid" *ngIf="books">
  <div class="card">
      <form #form="ngForm" (ngSubmit)="updateBook(form)" novalidate>
        <div class="form-group">
          <label for="book-cover" class="col-form-label">Book Image</label>
          <input type="file" class="form-control" name="image_url" id="imgae_url" [(ngModel)]="books.image_url">
        </div>
        <div class="form-group">
          <label for="title" class="col-form-label">Book Title</label>
          <input type="text" class="form-control" id="title" name="title" [(ngModel)]="books.title" required>
        </div>
        <div class="form-group">
          <label for="author" class="col-form-label">Author</label>
          <input type="text" class="form-control" id="author" name="author" [(ngModel)]="books.author" required>
        </div>
        <div class="form-group">
          <label for="genre" class="col-form-label">Genre</label>
          <select class="form-control" id="genre" name="genre" required [(ngModel)]="books.genre">
            <option *ngFor="let genre of genres; let i = index">{{genre}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="section" class="col-form-label">Section</label>
          <select class="form-control" id="section" name="section" [(ngModel)]="books.section" required>
            <option *ngFor="let section of sections; let i = index">{{section}}</option>
          </select>
        </div>
        <div class="form-group">
          <a href="/" class="btn btn-danger card-button">Cancel</a>
          <input type="submit" class="btn btn-success card-button" [disabled]="form.invalid" value="Update">
        </div>
      </form>
  </div>
</div>